<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="uclib.SettLogo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="uclib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="uclib.Properties.Settings.dbSenaCompConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\dbSenaComp.mdf&quot;;Password=Master1!" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <uclib.SettLogo>
            <setting name="Logo" serializeAs="String">
                <value />
            </setting>
        </uclib.SettLogo>
        <uclib.Properties.Settings>
            <setting name="NazivFirme" serializeAs="String">
                <value />
            </setting>
            <setting name="Adresa" serializeAs="String">
                <value />
            </setting>
            <setting name="PostanskiBr" serializeAs="String">
                <value />
            </setting>
            <setting name="Grad" serializeAs="String">
                <value />
            </setting>
            <setting name="PIB" serializeAs="String">
                <value />
            </setting>
            <setting name="MBR" serializeAs="String">
                <value />
            </setting>
            <setting name="Delatnost" serializeAs="String">
                <value />
            </setting>
            <setting name="Telefon" serializeAs="String">
                <value />
            </setting>
            <setting name="eMail" serializeAs="String">
                <value />
            </setting>
            <setting name="Logo" serializeAs="String">
                <value />
            </setting>
            <setting name="Banka" serializeAs="String">
                <value />
            </setting>
            <setting name="TekuciRacun" serializeAs="String">
                <value />
            </setting>
            <setting name="PDV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Klauzula" serializeAs="String">
                <value />
            </setting>
            <setting name="BazaServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BazaAutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BazaAutoUpdateVreme" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BazaAutoBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BazaAutpBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BazaServerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BazaAutoBackupVreme" serializeAs="String">
                <value>0</value>
            </setting>
        </uclib.Properties.Settings>
    </userSettings>
</configuration>
